.home  .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1440px;
}
h1 {
  width: 100%;
}




img {
  width: 140px;
  height: auto;
}

.login .container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 600px;
  padding:40px;
}

h1, h3 {
  margin: 10px;
  text-align: center;
  width: 100%;
}

button {
  margin:20px;
}

span {
  margin: 5px;
}