.topArtists.container .content{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1440px;
}

.topArtists .card {
  width: 16%;
  min-width: 240px;
  flex-grow: 1;
  margin:10px;
  background-color: #343035;
  max-width: 400px;
}

.topArtists .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topArtists .card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

.topArtists .card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}

.popover {
  width:400px;
}

.popover .popover-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popover h3 {
  width: 90%;
}




