
h1.login-heading, h3.login-heading {
  margin: 10px;
  text-align: center;
  height: auto;
}

button {
  margin:20px;
}

span {
  margin: 5px;
}

.login.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
flex-wrap: wrap;
  padding:40px;
  text-align: center
}


span {
  margin: 5px;
}

#spotify-login {
  width: 240px;
  border-radius: 4em;
  margin: 10% auto;
}

#spotify-login:hover{
  cursor: pointer;
  transform: scale(1.225)
}
